## LIST & Its methods

In [75]:
#Creating list in a regular way - are separated by square braces
lista = [1,2,3,4,5]
listb = ['a','b','c','d','e']
print (lista,listb)

[1, 2, 3, 4, 5] ['a', 'b', 'c', 'd', 'e']

In [76]:
#Creating List using Range(start,stop,step)
listc = list(range(0,20,5))
listd = list(range(8))
print (listc,listd)

[0, 5, 10, 15] [0, 1, 2, 3, 4, 5, 6, 7]

In [77]:
#list can be added to tuples and tuple can be added to files
tup = (lista,listb,listc)
print (tup)
list1 = list(tup)
list2 = [1,tup]
print (list1,"\n",list2)

([1, 2, 3, 4, 5], ['a', 'b', 'c', 'd', 'e'], [0, 5, 10, 15])
[[1, 2, 3, 4, 5], ['a', 'b', 'c', 'd', 'e'], [0, 5, 10, 15]]
 [1, ([1, 2, 3, 4, 5], ['a', 'b', 'c', 'd', 'e'], [0, 5, 10, 15])]

## Types of Methods in List 
append()
clear()
copy()
count()
extend()
index()
insert()
pop()
remove()
reverse()
sort()

In [78]:
#append() adds input at the end
lista.append(6)
lista

[1, 2, 3, 4, 5, 6]

In [79]:
#append can be used to add list or tuple into targeted list
listb.append(lista)
listb

['a', 'b', 'c', 'd', 'e', [1, 2, 3, 4, 5, 6]]

In [80]:
#Clear() is used to Delete all the elements in the list
listb.clear()
listb

[]

In [81]:
#Copy() is used for Copying the elements in one list to another list
listb = lista.copy()
listb

[1, 2, 3, 4, 5, 6]

In [82]:
#Counts the occurence of element in the targeted list
listb.count(5)

1

In [83]:
#insert(position,value) adds an element in the desired position in a list
listb.insert(6,7)
listb

[1, 2, 3, 4, 5, 6, 7]

In [84]:
#Extend() is a similar to append "adding elements to the list at last position", 
# but extend is significantly faster to that of append()
listb.extend([6,7,8,9])
listb

[1, 2, 3, 4, 5, 6, 7, 6, 7, 8, 9]

In [85]:
#index() provides us with the position of element,
#(if multiple occurence of elements, it gives the position of first occurence)
print (listb)
listb.index(8)

[1, 2, 3, 4, 5, 6, 7, 6, 7, 8, 9]

9

In [86]:
#pop() removes the last element in the list
listb.pop()
listb

[1, 2, 3, 4, 5, 6, 7, 6, 7, 8]

In [87]:
#remove() deletes the first occurence of the selected element
listb.remove(6)
listb

[1, 2, 3, 4, 5, 7, 6, 7, 8]

In [90]:
#reverse() Will reverse the order of elements in list
print(listb)
listb.reverse()
listb

[1, 2, 3, 4, 5, 7, 6, 7, 8]

[8, 7, 6, 7, 5, 4, 3, 2, 1]

In [91]:
#sort(Key= , Reverse =) 
#key - function that serves as a key for the sort comparison. (example: key=len, sorts based on length of string)
#reverse - If True, the sorted list is reversed (or sorted in Descending order). 
# By default Reverse = false and list is sorted in ascending order
listb.sort() #Output is Ascending order
listb

[1, 2, 3, 4, 5, 6, 7, 7, 8]

In [93]:
#Descending order
print (listb)
listb.sort(reverse=True) 
listb

[1, 2, 3, 4, 5, 6, 7, 7, 8]

[8, 7, 7, 6, 5, 4, 3, 2, 1]

In [96]:
#For strings we have to use "key=len" for sorting the list based on string length
alphalist = ['a', 'bc', 'defg', 'hij', 'klmno', 'pqrstuv', 'wxyz' ]
print(alphalist)
alphalist.sort(key=len)
print("Ascending order",alphalist)
alphalist.sort(key=len,reverse=True)
print("descending order",alphalist)

['a', 'bc', 'defg', 'hij', 'klmno', 'pqrstuv', 'wxyz']
Ascending order ['a', 'bc', 'hij', 'defg', 'wxyz', 'klmno', 'pqrstuv']
descending order ['pqrstuv', 'klmno', 'defg', 'wxyz', 'hij', 'bc', 'a']

In [99]:
#Concatenation can be done among lists using + Operator 
# |prefer Extend over concatenation as Concatenation has to create a new list|
combinedlist = lista + alphalist
print(lista,"\n",alphalist)
combinedlist

[1, 2, 3, 4, 5, 6]
 ['pqrstuv', 'klmno', 'defg', 'wxyz', 'hij', 'bc', 'a']

[1, 2, 3, 4, 5, 6, 'pqrstuv', 'klmno', 'defg', 'wxyz', 'hij', 'bc', 'a']

In [107]:
# "*" Operator performs Conacatenation os itself specified no of times
lista*3

[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]

In [108]:
#bisect: if you are looking to add an element into a list and doesnt know the end position of list, 
# bisect provides the end position of the list to add an element
print(lista)
import bisect
bisect.bisect(lista,8) #Output is the position where you can add "8"

[1, 2, 3, 4, 5, 6]

6

In [110]:
#insort() : is a function which helps in placing the new element into the position found by bisect
print(lista)
bisect.insort(lista,8)
lista

[1, 2, 3, 4, 5, 6]

[1, 2, 3, 4, 5, 6, 8]

In [114]:
#Slicing List[start:stop:step increment] 
print(lista)
lista[2:4] #Slicing to be done from 2nd position till  the 4th position not including 4th position

[1, 2, 3, 4, 5, 6, 8]

[3, 4]

In [113]:
print(lista)
lista[1:4:2] #slicing between 1st and 4th position with an increment of 2

[1, 2, 3, 4, 5, 6, 8]

[2, 4]

In [116]:
print(lista)
lista[::-1] #Since increment negative starts from last element and goes further till the first element -reversing the list

[1, 2, 3, 4, 5, 6, 8]

[8, 6, 5, 4, 3, 2, 1]

## Built-in Sequence Functions
enumerate(sequence),sorted(sequence),zip(seq1,seq2,...),reversed(sequence)

In [125]:
#Enumerate -Traces the position and value of elements in list. 
#It returns (i:v)tuples in sequence where "i" is position & "v" is value
enum_list = {}
for i,v in  enumerate(alphalist):enum_list[i]=v
print(alphalist)
enum_list

['pqrstuv', 'klmno', 'defg', 'wxyz', 'hij', 'bc', 'a']

{0: 'pqrstuv', 1: 'klmno', 2: 'defg', 3: 'wxyz', 4: 'hij', 5: 'bc', 6: 'a'}

In [131]:
#Sorted is similar to list.sort() but can be performen on iterable and doesn't need to have a list to perform
sorted("this place is annoying".split(),key = len)

['is', 'this', 'place', 'annoying']

In [137]:
#Zip is a command that pairs up multiple lists or tuples to form set of tuples
a1 = [0,1,2]
b1 = ['a','b','c']
c1 = ['x','y','z']
zipped = zip(a1,b1,c1)
list(zipped)

[(0, 'a', 'x'), (1, 'b', 'y'), (2, 'c', 'z')]

In [145]:
#Method to enumerate tuples in list
for i,(a,b,c) in enumerate(zip(a1,b1,c1)):
    print('{0}:{1},{2},{3}'.format(i,a,b,c))

0:0,a,x
1:1,b,y
2:2,c,z

## TUPLE

In [171]:
#Creating a tuple - tuple are separated by curved braces
x = (1,2,3)
y = ('q','w','e')

In [172]:
#Tuple can be inside a tuple
tup1 =(x,y)
tup1

((1, 2, 3), ('q', 'w', 'e'))

In [173]:
#lists can be inside Tuple
z=['a','b','c']
w=[4,5,6]
tup2 = (z,w)
tup2

(['a', 'b', 'c'], [4, 5, 6])

In [174]:
#Tuple is immutable but list inside a tuple can always be modified
z[2] = x
w[1] = y
print(z)
tup2

['a', 'b', (1, 2, 3)]

(['a', 'b', (1, 2, 3)], [4, ('q', 'w', 'e'), 6])

In [176]:
tup2[1].append(11)
tup2

(['a', 'b', (1, 2, 3)], [4, ('q', 'w', 'e'), 6, 11])

In [178]:
#Concatenation can be done in tuples & this is not considered modification as the primary source remains unchanged
tup3 = tup1 + tup2
tup3

((1, 2, 3),
 ('q', 'w', 'e'),
 ['a', 'b', (1, 2, 3)],
 [4, ('q', 'w', 'e'), 6, 11])

In [179]:
#*operator works similar to that of lists in tuple
tup1*2

((1, 2, 3), ('q', 'w', 'e'), (1, 2, 3), ('q', 'w', 'e'))

In [180]:
#Basic commands

q1 = 1,2,3,4
q2 = 5,6,7,8 
print (q1,q2)
q1,q2 = q2,q1 #swapping can be done easily in Python unlike anyother programming language
print(q1,q2)

(1, 2, 3, 4) (5, 6, 7, 8)
(5, 6, 7, 8) (1, 2, 3, 4)

In [186]:
seq = 11,12,13,14,15,16,17,18
a2,b2,*c2 = seq
print(a2,"\n",b2,"\n",c2)

11
 12
 [13, 14, 15, 16, 17, 18]

In [187]:
#count() and index()
print(seq.count(11),seq.index(18))

1 7

## Dictionary

In [7]:
# Creating dictionary - dictionary are separated by Flower braces
dic = {'animal':'dog','bird':'parrot','vegetable':'tomato'}
dic

{'animal': 'dog', 'bird': 'parrot', 'vegetable': 'tomato'}

In [8]:
#Creating dictionary with dict method

dic1 = dict(zip(range(5),reversed(range(5))))
dic1

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

In [9]:
#Accessing elements in dictionary
dic['animal']

'dog'

In [16]:
#changing elements in dictionary
dic['animal'] = 'wolf'
dic

{'animal': 'wolf', 'bird': 'parrot', 'vegetable': 'tomato'}

In [15]:
#Keys() helps in knowing the key words in dictionary for accessing values
dic.keys()

dict_keys(['animal', 'bird', 'vegetable'])

In [14]:
#values() helps in knowing the different elements in dictionary
dic.values()

dict_values(['wolf', 'parrot', 'tomato'])

In [17]:
#'key' in DICTIONARY,'key' not in DICTIONARY- We can verify weather there the respective keys are in dictionary or not
'animal' in dic

True

In [18]:
'animal' not in dic

False

In [20]:
dic['river'] = 'ganga'
dic['flowers'] = 'sunflower'
dic

{'animal': 'wolf',
 'bird': 'parrot',
 'vegetable': 'tomato',
 'river': 'ganga',
 'flowers': 'sunflower'}

In [21]:
#Values in a dictionary can be a list
dic2 = {'a':[1,2]}
dic2

{'a': [1, 2]}

In [22]:
#Keys in dictionary cannot be a list- hence gives a error
dic2 = {[1,2]:'a'}
dic2

TypeError: unhashable type: 'list'

In [52]:
#Values in dictionary can be a tuple
dic2 = {'a':(1,2,3)}
dic2

{'a': (1, 2, 3)}

In [53]:
#Keys in dictionary can be a tuple, unlike list
dic2 ={(8,9):1}
dic2

{(8, 9): 1}

## Dictionary methods : 
del, clear, copy, fromkeys,get,items,keys, pop, popitem,setdefault,update,values

In [54]:
dic

{'animal': 'wolf',
 'bird': 'parrot',
 'vegetable': 'tomato',
 'flowers': 'sunflower'}

In [55]:
# del - is used to delete the key and the values associated with it in a dictionary
del dic['river']
dic

KeyError: 'river'

In [56]:
dic1

{'animal': 'wolf',
 'bird': 'parrot',
 'vegetable': 'tomato',
 'flowers': 'sunflower'}

In [57]:
#Clear - deletes all the elements inside the dictionary
dic1.clear()
dic1

{}

In [58]:
# copy() is used to clone the dictionary
dic1 = dic.copy()
dic1

{'animal': 'wolf',
 'bird': 'parrot',
 'vegetable': 'tomato',
 'flowers': 'sunflower'}

In [78]:
#dic1['insects'] = [1]
dic1['insects'].append('cockroach')
dic1

{'animal': 'wolf',
 'bird': 'parrot',
 'vegetable': 'tomato',
 'flowers': 'sunflower',
 'f': [1],
 'insects': [1, 'cockroach']}

In [75]:
#dictionary.fromkeys(sequence,value)- 
# creates new dictionary with the given sequence of elements as the keys of the dictionary.
# if value is given, each new element is associated with the given value
numbers = {1,2,3,4,5,6,7,8,9}
test = dict.fromkeys(numbers)
test

{1: None,
 2: None,
 3: None,
 4: None,
 5: None,
 6: None,
 7: None,
 8: None,
 9: None}

In [82]:
value = ['a']
test = dict.fromkeys(numbers,value)
test

{1: ['a'],
 2: ['a'],
 3: ['a'],
 4: ['a'],
 5: ['a'],
 6: ['a'],
 7: ['a'],
 8: ['a'],
 9: ['a']}

In [83]:
#Since we used fromkeys to generate the dictionary change in one cell results in change of all the cells
test[1].append('b')
test

{1: ['a', 'b'],
 2: ['a', 'b'],
 3: ['a', 'b'],
 4: ['a', 'b'],
 5: ['a', 'b'],
 6: ['a', 'b'],
 7: ['a', 'b'],
 8: ['a', 'b'],
 9: ['a', 'b']}

In [86]:
#get- it is used to check if key is present in dictionary or not, if its not, you can set some value as default(optional)
test.get(10,'absent') #I put absent 'as it is convenient to know if the key is present or absent

'absent'

In [90]:
#Update - is a command is used to  merge/insert/update one dictionary to another
#if in case an existing key value is passed, old value will be discarded
print(dic)
test1 = {'game': 'cricket', 'Tools':'spanner', 'Language':'english'}
dic.update(test1)
dic

{'animal': 'wolf', 'bird': 'parrot', 'vegetable': 'tomato', 'flowers': 'sunflower'}

{'animal': 'wolf',
 'bird': 'parrot',
 'vegetable': 'tomato',
 'flowers': 'sunflower',
 'game': 'cricket',
 'Tools': 'spanner',
 'Language': 'english'}

In [91]:
# pop- it discards the selected key from dictionary
dic.pop('animal') #animal will be eliminated from the dictionary
dic

{'bird': 'parrot',
 'vegetable': 'tomato',
 'flowers': 'sunflower',
 'game': 'cricket',
 'Tools': 'spanner',
 'Language': 'english'}

In [92]:
# popitem(): pops the last pair(key:value) and shows the key value which has been taken out.
popped = dic.popitem()
popped

('Language', 'english')

In [93]:
#items() - it returns a view object that displays a list of a given dictionary's (key, value) tuple pair.
dic.items()

dict_items([('bird', 'parrot'), ('vegetable', 'tomato'), ('flowers', 'sunflower'), ('game', 'cricket'), ('Tools', 'spanner')])

In [94]:
#setdefault(key[, defaultValue]) returns the value of a key (if the key is in dictionary). 
#If not, it inserts key with the default value  into the dictionary.
dic.setdefault('bird',10) 
#though default value 10, sAs the dictionary has a value associated with the key-it doesnot change the previous value

'parrot'

In [96]:
dic.setdefault('language','english') 
print(dic) #it will add the pair into the dictionary as it was not present in the dictionary

{'bird': 'parrot', 'vegetable': 'tomato', 'flowers': 'sunflower', 'game': 'cricket', 'Tools': 'spanner', 'language': 'english'}

In [97]:
#we can also update the dictionary directly 
dic['flowers'] = 'rose'
dic

{'bird': 'parrot',
 'vegetable': 'tomato',
 'flowers': 'rose',
 'game': 'cricket',
 'Tools': 'spanner',
 'language': 'english'}

# Set
##### An unordered collection of unique elements. Its like dictionary but no values

In [99]:
#sets can be created by 2 ways : 1) set function 2) elements in curly braces{}
set1 = set([1,2,2,3,4,2,5,6,7,5,6,7,8,8,8,9])
set1

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [101]:
set2 = {1,2,212,1,3,34,5,566,5,6,85675,67,56,7,567,56,7,56,7}
set2

{1, 2, 3, 5, 6, 7, 34, 56, 67, 212, 566, 567, 85675}

###### Set support's mathematical set operations like union, intersection, difference and symmetrical difference

In [102]:
# union operation
set1.union(set2)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 34, 56, 67, 212, 566, 567, 85675}

In [103]:
# union use pipe operator 
set1 | set2

{1, 2, 3, 4, 5, 6, 7, 8, 9, 34, 56, 67, 212, 566, 567, 85675}

In [105]:
a = set([1,1,2,3])
b = set([2,2,3,4,5,5])
a |=b  # a|=b => a = a|b used to directly save the result into set
a

{1, 2, 3, 4, 5}

In [106]:
print(a,b)

{1, 2, 3, 4, 5} {2, 3, 4, 5}

In [108]:
# intersection is done by 2 ways intersection keyword and & operator.
print(set1,set2)
set1.intersection(set2)

{1, 2, 3, 4, 5, 6, 7, 8, 9} {1, 2, 3, 34, 5, 6, 67, 7, 85675, 212, 566, 567, 56}

{1, 2, 3, 5, 6, 7}

In [109]:
#intersection : &
print(set1,set2)
set1 &= set2
set1

{1, 2, 3, 4, 5, 6, 7, 8, 9} {1, 2, 3, 34, 5, 6, 67, 7, 85675, 212, 566, 567, 56}

{1, 2, 3, 5, 6, 7}

# set methods
###### add,clear,copy,difference,difference_update,discard,intersection,intersection_update,isdisjoint,issubset

In [110]:
#add(element)
set1.add(21)
set1

{1, 2, 3, 5, 6, 7, 21}

In [111]:
#copy- is used to clone the set 
c = set1.copy()
c

{1, 2, 3, 5, 6, 7, 21}

In [112]:
c.clear()
c

set()

In [113]:
# remove(x) - it is used to remove element from the set
c = set1.copy()
print(c)
c.remove(3)
c

{1, 2, 3, 5, 6, 7, 21}

{1, 2, 5, 6, 7, 21}

In [114]:
# pop-it removes element from first position.
c.pop()
c

{2, 5, 6, 7, 21}

In [115]:
# update method
set1.update(set2)
set1

{1, 2, 3, 5, 6, 7, 21, 34, 56, 67, 212, 566, 567, 85675}

In [116]:
# intersection_update method
set1.intersection_update(set2) # a &=b
set1

{1, 2, 3, 5, 6, 7, 34, 56, 67, 212, 566, 567, 85675}

In [118]:
set1 = {1, 2, 3, 4, 5, 6, 7, 8, 9}
print(set1,set2)
set1-set2

{1, 2, 3, 4, 5, 6, 7, 8, 9} {1, 2, 3, 34, 5, 6, 67, 7, 85675, 212, 566, 567, 56}

{4, 8, 9}

In [119]:
set1.difference(set2)

{4, 8, 9}

In [120]:
print(set1,set2)
set1.difference_update(set2) # a = a-b => a -= b

{1, 2, 3, 4, 5, 6, 7, 8, 9} {1, 2, 3, 34, 5, 6, 67, 7, 85675, 212, 566, 567, 56}

In [122]:
# symmetric difference = a^b => all the elements in either a or b but not in both
set1 = {1, 2, 3, 4, 5, 6, 7, 8, 9}
print(set1,set2)
set1^set2

{1, 2, 3, 4, 5, 6, 7, 8, 9} {1, 2, 3, 34, 5, 6, 67, 7, 85675, 212, 566, 567, 56}

{4, 8, 9, 34, 56, 67, 212, 566, 567, 85675}

In [124]:
set1 = {1, 2, 3, 4, 5, 6, 7, 8, 9}
print(set1,set2)
set1.symmetric_difference(set2) # a^b

{1, 2, 3, 4, 5, 6, 7, 8, 9} {1, 2, 3, 34, 5, 6, 67, 7, 85675, 212, 566, 567, 56}

{4, 8, 9, 34, 56, 67, 212, 566, 567, 85675}

In [125]:
my_data = [1,2,3,4]
my_set = {tuple(my_data)}
my_set

{(1, 2, 3, 4)}

In [126]:
set1 = set([1,2,2,3,4,2,5,6,7,5,6,7,8,8,8,9])
set2 = {1,2,212,1,3,34,5,566,5,6,85675,67,56,7,567,56,7,56,7}
{1,2,3}.issubset(set1)

True

In [127]:
set2.issuperset({1,2,112})

False

In [128]:
# if both sets does not have common element returns True else False
set1.isdisjoint(set2)

False

In [129]:
{1,2}.isdisjoint({3,4})

True

In [130]:
# sets are equal if and only if their contents are equal:
{1,2,3} == {1,2,3}

True

In [131]:
set1 == set2

False