## LIST & Its methods

In [1]:
#Creating list in a regular way
lista = [1,2,3,4,5]
listb = ['a','b','c','d','e']
print (lista,listb)
print('list')

[1, 2, 3, 4, 5] ['a', 'b', 'c', 'd', 'e']
list

In [76]:
#Creating List using Range(start,stop,step)
listc = list(range(0,20,5))
listd = list(range(8))
print (listc,listd)

[0, 5, 10, 15] [0, 1, 2, 3, 4, 5, 6, 7]

In [77]:
#list can be added to tuples and tuple can be added to files
tup = (lista,listb,listc)
print (tup)
list1 = list(tup)
list2 = [1,tup]
print (list1,"\n",list2)

([1, 2, 3, 4, 5], ['a', 'b', 'c', 'd', 'e'], [0, 5, 10, 15])
[[1, 2, 3, 4, 5], ['a', 'b', 'c', 'd', 'e'], [0, 5, 10, 15]]
 [1, ([1, 2, 3, 4, 5], ['a', 'b', 'c', 'd', 'e'], [0, 5, 10, 15])]

## Types of Methods in List 
append()
clear()
copy()
count()
extend()
index()
insert()
pop()
remove()
reverse()
sort()

In [78]:
#append() adds input at the end
lista.append(6)
lista

[1, 2, 3, 4, 5, 6]

In [79]:
#append can be used to add list or tuple into targeted list
listb.append(lista)
listb

['a', 'b', 'c', 'd', 'e', [1, 2, 3, 4, 5, 6]]

In [80]:
#Clear() is used to Delete all the elements in the list
listb.clear()
listb

[]

In [81]:
#Copy() is used for Copying the elements in one list to another list
listb = lista.copy()
listb

[1, 2, 3, 4, 5, 6]

In [82]:
#Counts the occurence of element in the targeted list
listb.count(5)

1

In [83]:
#insert(position,value) adds an element in the desired position in a list
listb.insert(6,7)
listb

[1, 2, 3, 4, 5, 6, 7]

In [84]:
#Extend() is a similar to append "adding elements to the list at last position", 
# but extend is significantly faster to that of append()
listb.extend([6,7,8,9])
listb

[1, 2, 3, 4, 5, 6, 7, 6, 7, 8, 9]

In [85]:
#index() provides us with the position of element,
#(if multiple occurence of elements, it gives the position of first occurence)
print (listb)
listb.index(8)

[1, 2, 3, 4, 5, 6, 7, 6, 7, 8, 9]

9

In [86]:
#pop() removes the last element in the list
listb.pop()
listb

[1, 2, 3, 4, 5, 6, 7, 6, 7, 8]

In [87]:
#remove() deletes the first occurence of the selected element
listb.remove(6)
listb

[1, 2, 3, 4, 5, 7, 6, 7, 8]

In [90]:
#reverse() Will reverse the order of elements in list
print(listb)
listb.reverse()
listb

[1, 2, 3, 4, 5, 7, 6, 7, 8]

[8, 7, 6, 7, 5, 4, 3, 2, 1]

In [91]:
#sort(Key= , Reverse =) 
#key - function that serves as a key for the sort comparison. (example: key=len, sorts based on length of string)
#reverse - If True, the sorted list is reversed (or sorted in Descending order). 
# By default Reverse = false and list is sorted in ascending order
listb.sort() #Output is Ascending order
listb

[1, 2, 3, 4, 5, 6, 7, 7, 8]

In [93]:
#Descending order
print (listb)
listb.sort(reverse=True) 
listb

[1, 2, 3, 4, 5, 6, 7, 7, 8]

[8, 7, 7, 6, 5, 4, 3, 2, 1]

In [96]:
#For strings we have to use "key=len" for sorting the list based on string length
alphalist = ['a', 'bc', 'defg', 'hij', 'klmno', 'pqrstuv', 'wxyz' ]
print(alphalist)
alphalist.sort(key=len)
print("Ascending order",alphalist)
alphalist.sort(key=len,reverse=True)
print("descending order",alphalist)

['a', 'bc', 'defg', 'hij', 'klmno', 'pqrstuv', 'wxyz']
Ascending order ['a', 'bc', 'hij', 'defg', 'wxyz', 'klmno', 'pqrstuv']
descending order ['pqrstuv', 'klmno', 'defg', 'wxyz', 'hij', 'bc', 'a']

In [99]:
#Concatenation can be done among lists using + Operator 
# |prefer Extend over concatenation as Concatenation has to create a new list|
combinedlist = lista + alphalist
print(lista,"\n",alphalist)
combinedlist

[1, 2, 3, 4, 5, 6]
 ['pqrstuv', 'klmno', 'defg', 'wxyz', 'hij', 'bc', 'a']

[1, 2, 3, 4, 5, 6, 'pqrstuv', 'klmno', 'defg', 'wxyz', 'hij', 'bc', 'a']

In [107]:
# "*" Operator performs Conacatenation os itself specified no of times
lista*3

[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]

In [108]:
#bisect: if you are looking to add an element into a list and doesnt know the end position of list, 
# bisect provides the end position of the list to add an element
print(lista)
import bisect
bisect.bisect(lista,8) #Output is the position where you can add "8"

[1, 2, 3, 4, 5, 6]

6

In [110]:
#insort() : is a function which helps in placing the new element into the position found by bisect
print(lista)
bisect.insort(lista,8)
lista

[1, 2, 3, 4, 5, 6]

[1, 2, 3, 4, 5, 6, 8]

In [114]:
#Slicing List[start:stop:step increment] 
print(lista)
lista[2:4] #Slicing to be done from 2nd position till  the 4th position not including 4th position

[1, 2, 3, 4, 5, 6, 8]

[3, 4]

In [113]:
print(lista)
lista[1:4:2] #slicing between 1st and 4th position with an increment of 2

[1, 2, 3, 4, 5, 6, 8]

[2, 4]

In [116]:
print(lista)
lista[::-1] #Since increment negative starts from last element and goes further till the first element -reversing the list

[1, 2, 3, 4, 5, 6, 8]

[8, 6, 5, 4, 3, 2, 1]

In [125]:
#Enumerate -Traces the position and value of elements in list. 
#It returns (i:v)tuples in sequence where "i" is position & "v" is value
enum_list = {}
for i,v in  enumerate(alphalist):enum_list[i]=v
print(alphalist)
enum_list

['pqrstuv', 'klmno', 'defg', 'wxyz', 'hij', 'bc', 'a']

{0: 'pqrstuv', 1: 'klmno', 2: 'defg', 3: 'wxyz', 4: 'hij', 5: 'bc', 6: 'a'}

In [131]:
#Sorted is similar to list.sort() but can be performen on iterable and doesn't need to have a list to perform
sorted("this place is annoying".split(),key = len)

['is', 'this', 'place', 'annoying']

In [137]:
#Zip is a command that pairs up multiple lists or tuples to form set of tuples
a1 = [0,1,2]
b1 = ['a','b','c']
c1 = ['x','y','z']
zipped = zip(a1,b1,c1)
list(zipped)

[(0, 'a', 'x'), (1, 'b', 'y'), (2, 'c', 'z')]

In [145]:
#Method to enumerate tuples in list
for i,(a,b,c) in enumerate(zip(a1,b1,c1)):
    print('{0}:{1},{2},{3}'.format(i,a,b,c))

0:0,a,x
1:1,b,y
2:2,c,z

## TUPLE

In [171]:
x = (1,2,3)
y = ('q','w','e')

In [172]:
#Tuple can be inside a tuple
tup1 =(x,y)
tup1

((1, 2, 3), ('q', 'w', 'e'))

In [173]:
#lists can be inside Tuple
z=['a','b','c']
w=[4,5,6]
tup2 = (z,w)
tup2

(['a', 'b', 'c'], [4, 5, 6])

In [174]:
#Tuple is immutable but list inside a tuple can always be modified
z[2] = x
w[1] = y
print(z)
tup2

['a', 'b', (1, 2, 3)]

(['a', 'b', (1, 2, 3)], [4, ('q', 'w', 'e'), 6])

In [176]:
tup2[1].append(11)
tup2

(['a', 'b', (1, 2, 3)], [4, ('q', 'w', 'e'), 6, 11])

In [178]:
#Concatenation can be done in tuples & this is not considered modification as the primary source remains unchanged
tup3 = tup1 + tup2
tup3

((1, 2, 3),
 ('q', 'w', 'e'),
 ['a', 'b', (1, 2, 3)],
 [4, ('q', 'w', 'e'), 6, 11])

In [179]:
#*operator works similar to that of lists in tuple
tup1*2

((1, 2, 3), ('q', 'w', 'e'), (1, 2, 3), ('q', 'w', 'e'))

In [180]:
#Basic commands

q1 = 1,2,3,4
q2 = 5,6,7,8 
print (q1,q2)
q1,q2 = q2,q1 #swapping can be done easily in Python unlike anyother programming language
print(q1,q2)

(1, 2, 3, 4) (5, 6, 7, 8)
(5, 6, 7, 8) (1, 2, 3, 4)

In [186]:
seq = 11,12,13,14,15,16,17,18
a2,b2,*c2 = seq
print(a2,"\n",b2,"\n",c2)

11
 12
 [13, 14, 15, 16, 17, 18]

In [187]:
#count() and index()
print(seq.count(11),seq.index(18))

1 7

## Dictionary

In [188]:
dic = {'animal':'dog','bird':'parrot','vegetable':'tomato'}
dic

{'animal': 'dog', 'bird': 'parrot', 'vegetable': 'tomato'}

In [190]:
#Accessing elements in dictionary
dic['animal']

'dog'

In [192]:
#changing elements in dictionary
dic['animal'] = 'wolf'
dic

{'animal': 'wolf', 'bird': 'parrot', 'vegetable': 'tomato'}

In [193]:
#Keys() helps in knowing the key words in dictionary for accessing values
dic.keys()

dict_keys(['animal', 'bird', 'vegetable'])

In [194]:
#values() helps in knowing the different elements in dictionary
dic.values()

dict_values(['wolf', 'parrot', 'tomato'])